### Import libraries

In [1]:
import pandas as pd
import os

In [2]:
DATA_PATH = "./data"

In [35]:
file_list = os.listdir(DATA_PATH)
list_columns_file = [] # idx: columns == idx : 
for idx, file in enumerate(file_list): 
    data = pd.read_excel(DATA_PATH + file)
    list_columns_file.append(list(data.columns)) 

len(list_columns_file)

27

In [55]:
# get columns value
data0 = pd.read_excel(DATA_PATH + file_list[0])
data0.head()

,TT,Mã BN,Họ và tên BN,Năm sinh BN,Giới tính BN,"Thôn, xóm, đường, tổ dân phố (đang ở)",Xã/Phường (đang ở),Quận/Huyện (đang ở),Tỉnh/TP (đang ở)
0,1,BN2111010,Dương Thùy,1982,Nữ,Ấp 15,Vĩnh Mỹ B,Hòa Bình,Bạc Liêu
1,2,BN2111011,Lê Hồng Gấm,1988,Nữ,An khoa,Vĩnh Mỹ B,Hòa Bình,Bạc Liêu
2,3,BN2111012,Thái Phương Anh,1998,Nữ,Trà Co,Minh Diệu,Hòa Bình,Bạc Liêu
3,4,BN2111013,Võ Hoài Phú,2021,Nam,Thị trấn A,Thị trấn Hoà Bình,Hòa Bình,Bạc Liêu
4,5,BN2111014,Võ Hoài Phong,1998,Nam,Thị trấn A,Thị trấn Hoà Bình,Hòa Bình,Bạc Liêu

In [81]:
test_data = data0.iloc[:,1:5]

         Mã BN      Họ và tên BN  Năm sinh BN Giới tính BN
0    BN2111010        Dương Thùy         1982           Nữ
1    BN2111011       Lê Hồng Gấm         1988           Nữ
2    BN2111012  Thái Phương Anh          1998           Nữ
3    BN2111013      Võ Hoài Phú          2021         Nam
4    BN2111014    Võ Hoài Phong          1998         Nam
..         ...               ...          ...          ...
103  BN2111113         Lý Thị Mỹ         1954          Nữ
104  BN2111114       Lê Thảo Yến         1994          Nữ
105  BN2111115  Phạm Thị Kim Thà         1993          Nữ
106  BN2111116         Lê Thị Tư         1934          Nữ
107  BN2111117       Lâm Thị Ken         1962          Nữ

[108 rows x 4 columns]

In [58]:
df = pd.DataFrame(columns=[str(i) for i in ["Mã BN","Họ và tên BN", "Năm sinh", "Giới Tính"]])

### Columns that found in most of the files

In [39]:
# count column values
dict_columns_value_count = {}
for row in list_columns_file: 
    for col_name in row: 
        # NOT IN 
        if col_name not in dict_columns_value_count: 
            dict_columns_value_count[col_name] = 1 
        else:
            dict_columns_value_count[col_name] += 1
len(dict_columns_value_count)

35

In [40]:
dict_columns_value_count

{'TT': 27,
 'Mã BN': 7,
 'Họ và tên BN': 27,
 'Năm sinh BN': 19,
 'Giới tính BN': 19,
 'Thôn, xóm, đường, tổ dân phố (đang ở)': 19,
 'Xã/Phường (đang ở)': 19,
 'Quận/Huyện (đang ở)': 19,
 'Tỉnh/TP (đang ở)': 19,
 'MSBN': 9,
 'Thôn, xóm, đường, tổ dân phố (thường trú)': 4,
 'Xã/Phường \n(thường trú)': 4,
 'Quận/Huyện \n(thường trú)': 4,
 'Tỉnh/TP\n(thường trú)': 4,
 'Ngày lấy mẫu': 4,
 'Ngày có kết quả xét nghiệm': 4,
 'Phân loại ca bệnh': 4,
 'Đối tượng lấy mẫu': 4,
 'CT Value': 14,
 'Số điện thoại BN': 4,
 'Tiền sử tiêm Vaccine Covid-19': 4,
 'Ghi chú': 4,
 'Loại xét nghiệm': 4,
 'Nơi lấy mẫu': 12,
 'Mã số BN': 6,
 'Năm sinh \n BN': 8,
 'Giới tính\n BN': 8,
 'Thôn, xóm, đường,\n tổ dân phố (đang ở)': 8,
 'Xã/Phường \n(đang ở)': 8,
 'Quận/Huyện \n(đang ở)': 8,
 'Tỉnh/TP \n(đang ở)': 7,
 'Mã số bệnh nhân': 3,
 'Mã Số BN': 1,
 'Nơi lấy\n mẫu': 1,
 'Mã số bệnh nhân ': 1}

### Extract data & Merge to one file

In [53]:
# columns used in merged file
columns =  ["Mã BN","Họ và tên BN", "Năm sinh", "Giới Tính"]

# create empty dataframe with columns name
df = pd.DataFrame(columns=[str(i) for i in columns])
df

Empty DataFrame
Columns: [Mã BN, Họ và tên BN, Năm sinh, Giới Tính]
Index: []

In [93]:
# columns used in merged file
columns =  ["Mã BN","Họ và tên BN", "Năm sinh", "Giới Tính"]

# create empty dataframe with columns name
df = pd.DataFrame(columns=[str(i) for i in columns])

# copy from files to dataframe 
for idx, file in enumerate(file_list): 
    curr_data = pd.read_excel(DATA_PATH + file)

    # get columns 1,2,3,4 (idx start at 0) 
    # mã BN, họ tên BN, năm sinh, giới tính 
    curr_data = curr_data.iloc[:,1:5]

    # remove headers 
    curr_data = curr_data[:].values

    # convert to dataframe 
    curr_data = pd.DataFrame(curr_data, columns=columns)

    df = df.append(curr_data, ignore_index=True)

df

          Mã BN       Họ và tên BN Năm sinh Giới Tính
0     BN2111010         Dương Thùy     1982        Nữ
1     BN2111011        Lê Hồng Gấm     1988        Nữ
2     BN2111012   Thái Phương Anh      1998        Nữ
3     BN2111013       Võ Hoài Phú      2021      Nam
4     BN2111014     Võ Hoài Phong      1998      Nam
...         ...                ...      ...       ...
4841  BN2203828        Hứa Ngọc Ân     1963        Nữ
4842  BN2203829      Vương Duệ Phú     1993       Nam
4843  BN2203830  Quách Trường Thái     1984       Nam
4844  BN2203831      Mai Trung Học     1991       Nam
4845  BN2203832         Hứa Mỹ Chu     1951        Nữ

[4846 rows x 4 columns]

In [94]:
len(df)

4846

In [96]:
df.to_excel("./output.xlsx",sheet_name="Tổng hợp")

### Complete code

In [6]:
import pandas as pd
import os 

DATA_PATH = "./data/"

file_list = os.listdir(DATA_PATH)

# columns used in merged file
columns =  ["Mã BN","Họ và tên BN", "Năm sinh", "Giới Tính"]

# create empty dataframe with columns name
df = pd.DataFrame(columns=[str(i) for i in columns])

# copy from files to dataframe 
for idx, file in enumerate(file_list): 
    curr_data = pd.read_excel(DATA_PATH + file)

    # get columns 1,2,3,4 (idx start at 0) 
    # mã BN, họ tên BN, năm sinh, giới tính 
    curr_data = curr_data.iloc[:,1:5]

    # remove headers 
    curr_data = curr_data[:].values

    # convert to dataframe 
    curr_data = pd.DataFrame(curr_data, columns=columns)

    df = df.append(curr_data, ignore_index=True)

df.to_excel("./output.xlsx",sheet_name="Tổng hợp")

#### Test

In [7]:
import os # lib to get file names
import pandas as pd # lib read excel file

In [9]:
file_list = os.listdir("./data")
len(file_list)

68

In [12]:
test_data = pd.read_excel("./data/Danh sách lấy MS 03..12.2021 HT TRA HUYEN.xlsx")
test_data.head()

,TT,Unnamed: 1,Họ và tên BN,Năm \nsinh BN,Giới tính\n BN,"Thôn, xóm, \nđường, \ntổ dân phố (đang ở)",Xã/Phường \n(đang ở),Quận/Huyện\n (đang ở),Tỉnh/TP \n (đang ở),CT Value
0,1,BN1282126,Đoàn Gia Luân,2009,Nam,Khóm 3,Phường 3,Thành Phố Bạc Liêu,Bạc Liêu,20.51
1,2,BN1282127,Huỳnh Đức Thắng Em,1987,Nam,Khóm 6,Phường 1,Thành Phố Bạc Liêu,Bạc Liêu,26.65
2,3,BN1282128,Hồ Hoàng Kiến,1998,Nam,Phước Thọ,Phước Long,Phước Long,Bạc Liêu,20.91
3,4,BN1282129,Tô Bích Duy,1984,Nữ,Phước Thành,Phước Long,Phước Long,Bạc Liêu,20.90
4,5,BN1282130,Danh Thị Nhan,1987,Nữ,Phước Thọ Hậu,Phước Long,Phước Long,Bạc Liêu,17.61

In [13]:
test_data.iloc[:,1]

0           Đoàn Gia Luân
1      Huỳnh Đức Thắng Em
2           Hồ Hoàng Kiến
3             Tô Bích Duy
4           Danh Thị Nhan
              ...
560       Nguyễn Văn Dững
561           Lài Thị Não
562          Trần Văn Huệ
563       Nguyễn Thị Hằng
564             Bùi Vũ Ca
Name: Họ và tên BN, Length: 565, dtype: object